body {
	font-family: 'Uberform', sans-serif;
}

	.titulo {
		color:#910000;
		text-decoration:underline;
	}

	.par {
		text-align: justify;
		font-size: 14px;
		line-height: 23px 
	}

	.header{
		text-align: center;
		font-size: 2.25rem
	}


